@model IEnumerable<MovieTheatreDatabase.SurveyUserAnswer>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SurveyUser)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SurveyQuestion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionOptionEnums)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SurveyUser.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SurveyQuestion.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionOptionEnums)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SurveyUserAnswerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SurveyUserAnswerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SurveyUserAnswerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
