@using MovieTheatreModels.Enums
@using MovieTheatreDatabase
@using System.Security.Policy
@using Microsoft.AspNetCore.Identity
@model MovieTheatreDatabase.Survey
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
 }


<form method="post">
    @foreach (var surveyQuestion in @Model.SurveyQuestions)
    {   
        <div class="form-group">
            <label asp-for="SurveyQuestions" class="control-label">@surveyQuestion.Text</label>
            <select name="@surveyQuestion.SurveyQuestionId" class="form-control" asp-items="Html.GetEnumSelectList<QuestionOptionEnums>()" > <Option value="">Please select one</Option></select> 
            <span asp-validation-for="@surveyQuestion" class="text-danger"></span>
        </div>
    }
    
    <div class="form-group">
        <label class="control-label">Name</label>
        <input name="Name" value="@UserManager.GetUserName(User)" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Email</label>
        <input name="Email" value="@User.Identity.Name" class="form-control" />
    </div>

    <div class="form-group">
        <input type="submit" value="CreateUserAnswer" class="btn btn-primary" />
    </div>

</form>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
